body, html {
  background:#EBEBEB;
}

.sidebar {
  background: #DD5555;
  width: 10%;
  height: 100vh;
  display: inline-block;
  position: fixed;
}

.main {
  background:#EBEBEB;
  width: 88%;
  font-family:'Open Sans', sans-serif;
  color: #7d7d7d;
  font-size:15px;
  line-height:1.4em;
  display: inline-block;
  margin-left: 10%;
}

.box{
  background: white;
  padding: 6px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

#favorite-books {
  background: white;
  padding: 6px;
  width: 90%;
  margin: 10px auto;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.box-title {
  color: #DD5555;
  font-size: 22px;
  text-align: center;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

#profile-pic {
  width: 150px;
  border-radius: 10px;
}

img {
  width: 100px;
}

.link {
  color: #4DABF7;
  text-decoration: none;
}

.book-title {
  color: #DD5555;
  margin: 2px;
}

.book-author {
  margin: 2px;
}

.book-description {
 margin: 2px;
}
